@font-face {
    font-family: 'iconfont';  /* project id 255055 */
    src: url('//at.alicdn.com/t/font_255055_7yql9bjb01e.eot');
    src: url('//at.alicdn.com/t/font_255055_7yql9bjb01e.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_255055_7yql9bjb01e.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_255055_7yql9bjb01e.woff') format('woff'),
    url('//at.alicdn.com/t/font_255055_7yql9bjb01e.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_255055_7yql9bjb01e.svg#iconfont') format('svg');
  }
  .iconfont {
    font-family: 'iconfont' !important;
    font-size: 36rpx;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .hezuoyaoqingPC::before {
      content: '\e7c2'
  }
  .icon-tuku::before {
    content: '\e7d2';
  }

  .icon-jiahao1::before {
    content: '\e669';
  }
  
  .icon-aixin2::before {
    content: '\e682';
  }
  
  .icon-dizhi::before {
    content: '\e6ca';
  }
  
  .icon-dianpu-copy::before {
    content: '\e850';
  }
  
  .icon-jingqingqidai::before {
    content: '\e843';
  }
  
  .icon-yaoqingpaihang1::before {
    content: '\e84d';
  }
  
  .icon-video::before {
    content: '\e782';
  }
  
  .icon-camera::before {
    content: '\e872';
  }
  
  .icon-guanbi::before {
    content: '\e776';
  }
  
  .icon-kefu02::before {
    content: '\e60a';
  }
  
  .icon-play::before {
    content: '\e6ec';
  }
  
  .icon-stop::before {
    content: '\e6da';
  }
  
  .icon-zanting::before {
    content: '\e84f';
  }
  
  
  .icon-shanchu1::before {
    content: '\e798';
  }
  
  .icon-radio-checked::before {
    content: '\e702';
  }